<Config>
  <LogLevel>info</LogLevel>
  <UrlBase></UrlBase>
  <UpdateMechanism>Docker</UpdateMechanism>
  <BindAddress>*</BindAddress>
  <Port>7878</Port>
  <SslPort>9898</SslPort>
  <EnableSsl>False</EnableSsl>
  <LaunchBrowser>True</LaunchBrowser>
  <ApiKey>5c6cb16037f4413e8342aca623ca4b5c</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>nightly</Branch>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
</Config>